<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elem-slot">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `elem-slot`
     * Este elemento es un ejemplo de slots
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElemSlot extends Polymer.Element {
      static get is() { return 'elem-slot'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elem-slot'
          }
        };
      }
    }

    window.customElements.define(ElemSlot.is, ElemSlot);
  </script>
</dom-module>
