<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elem-slot">
  <template>
    <style>
      :host {
        display: block;
      }
      button{
        border-radius:100%;
        height: 100px;
        width: 100px;
        border: 1px solid black;
        background-color: grey;
        text-align: center;
      }
      div{
        border-radius:100%;
        height: 100px;
        width: 100px;
        border: 1px solid black;
        background-color:lightcoral;
        text-align: center;
      }
      /* h1{
        border-radius:100%;
        border: 1px solid black;
        background-color: greenyellow;
      } */
      

    </style>
    <!-- <template> -->
      <header>
        
        <button><h1><slot ></slot></h1></button>
        <div><slot></slot></div>
      </header>
    <!-- </template> -->


    <!-- <header>
        <h1><slot></slot></h1>
        <button>Menu</button>
      </header> -->

    <!-- <template>
        <my-header>
          <h1><slot ></slot></h1>
          <button>JS</button>
        </my-header>
      </template> -->

  </template>

  <script>
    /**
     * `elem-slot`
     * Este elemento es un ejemplo de slots
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElemSlot extends Polymer.Element {
      static get is() { return 'elem-slot'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elem-slot'
          }
        };
      }
    }

    window.customElements.define(ElemSlot.is, ElemSlot);
  </script>
</dom-module>
